<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
  <title> {% block title %}Chary Web {% endblock title %}</title>
</head>
<body>
  <div class="navbar">
    <ul class="listitems">
      <li ><a href="/home" class={{name}}>Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a> </li>
      <li class="active" ><a href="/login" >Login</a> </li>
  </div>
  <div class='messaggeBox'>
    {% if messages %}
    <ul>
      {% for message in  messages %}
        <li>{{message}} </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% block body %}Chary Web {% endblock body %}
</body>
</html>