{% extends 'base.html' %}

{%  block title %}
Contact Us
{% endblock title %}
{%  block body %}
<div class="contactus">
  <div class="box">
    <h1>Register<h1>
    
    <form class="form" method="post" action='/contact'>
    {% csrf_token %}
      <div class="input">
        <input type="text" placeholder="Username" name="username" />
      </div>
      <div class="input">
        <input type="email" placeholder="Email" name="email" />
      </div>
      <div class="input">
        <input type="password" placeholder="Password" name="password" />
      </div>
      <div class="input">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>

  </div>
</div>
{% endblock body %}